PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=casa_quetzal
DB_PORT=3306
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=TU_CLIENT_ID_SANDBOX_AQUI
PAYPAL_CLIENT_SECRET=TU_CLIENT_SECRET_SANDBOX_AQUI
