<section class="user-form-shell">
  <a class="back-link" routerLink="/">Volver al restaurante</a>
  <h1>Iniciar sesión</h1>
  <form (ngSubmit)="login()" [formGroup]="form" class="user-form">
    <label>
      Correo
      <input type="email" formControlName="correo" placeholder="correo@ejemplo.com" />
    </label>

    <label>
      Contraseña
      <input type="password" formControlName="password" placeholder="********" />
    </label>

    <button type="submit">Entrar</button>
    <p class="error" *ngIf="errorMessage()">{{ errorMessage() }}</p>
  </form>
  <p class="small-link">¿No tienes cuenta? <a routerLink="/usuario/register">Registrate aqui</a></p>
</section>
